body, html {
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2C2C2C;
}

html {
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.loading {
  width: 150px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  background: url(../img/ajax-loader.gif) no-repeat scroll left center white;
  height: auto;
  padding-left: 24px;
}

.onload .loading {
  opacity: 0;
}

div.logo {
  background-image: url(/skyline.png);
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 36px;
  background-position: 0 0px;
  width: 176px;
  padding-top: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 1;
  -webkit-transition: background-position 1000ms, opacity 1000ms;
}

.onload div.logo {
  background-position: 0 -6px;
  opacity: 1;
}

div.logo .logo-text {
  font-size: 26px;
  display: block;
  margin-top: 20px;
  width: 176px;
  text-align: center;
  line-height: 30px;
  font-weight: 200;
}

h1 {
/*-webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
-webkit-transition: opacity 1s, background-color 200ms;
  -moz-transition: opacity 1s, background-color 200ms;
*/
}

h2 {
  font-weight: 100;
  letter-spacing: 1px;
}

h1:hover {
  background: #2A5E8C;
}

h1 a {
  color: inherit;
  font-weight: inherit;
}

h1 a:hover {
  text-decoration: none;
}

.onload h1 {
  opacity: 1;
}

h2 {
  margin-top: 80px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
}

h3 {
  /*margin-top: 50px;*/
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
}

#tag {
  height: auto;
  border-top: 2px solid black;
  margin-top: -22px;
  padding-left: 200px;
  font-size: 19px;
  margin-bottom: 20px;
  -webkit-transition: margin-top 200ms, margin-bottom 200ms, padding-left 1s;
  -moz-transition: margin-top 200ms, margin-bottom 200ms, padding-left 1s;
  padding-top: 0px;
  text-transform: capitalize;
}

#tag li {
  /*margin-top: -30px;*/
  display: block;
  float: left;
  height: auto;
  -webkit-transition: margin-top 1s, margin-left 1s, background-color 200ms, padding-bottom 200ms;
  -moz-transition: margin-top 1s, margin-left 1s, background-color 200ms, padding-bottom 200ms;
  transition: margin-top 1s, margin-left 1s, background-color 200ms, padding-bottom 200ms;
  list-style: none;
  padding-bottom: 2px;
}

#tag a {
  margin: 0 10px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1px;
  /*color: #428bca;*/
}

.onload #tag li {
  /*margin-top: 0px;*/
}

#tag .active {
  /*text-decoration: underline;*/
  /*background: #2A5E8C;*/
  /*border: 2px solid;*/
  /*border-top: none;*/
}

#tag a.active {
  text-decoration: underline;
  /*color: white;*/
}

a {
  color: #2A5E8C;
  font-weight: bold;
  text-decoration: none;
}

#tag li:hover {
  /*background: #7595BF;*/
  /*padding-bottom: 5px;*/
}

#tag li:hover a {
  /*color: white;*/
  /*text-decoration: none;*/
}

a:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  z-index: 1;
  opacity: 0.7;
}

.CodeMirror-lint-tooltip {
  z-index: 2000 !important;
}

#visualizer {
  height: 100%;
  background: #F2F2F2;
}

#visualizer > .container {
  height: 100%;
  box-shadow: 0px 0 15px -5px;
  background: white;
  position: relative;
}

.white-header {
  width: 400px;
  height: 40px;
  top: 14px;
  background: white;
  position: absolute;
  left: 200px;
  right: 0;
}