body, html {
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2C2C2C;
  background: #E0E0E0;
}

/*html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}*/

header {
  border-bottom: 1px solid #CCC;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  color: #777;
  text-align: center;
}

.navbar-nav li a {
  margin: 0px 4px;
}

.navbar-nav li a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 4px;
}

.navbar-nav li a:hover {
  background-color: #ccc;
}

.navbar-nav li.active a {
  background-color: #2A5E8C;
  color: #FFFFFF;
}

.navbar-toggle .icon-bar {
  background-color: #2A5E8C;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.loading {
  width: 150px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  background: url(../img/ajax-loader.gif) no-repeat scroll left center white;
  height: auto;
  padding-left: 24px;
}

.onload .loading {
  opacity: 0;
}

div.logo {
  background-color: #2A5E8C;
  height: 44px;
  width: 176px;
  float: left;
  margin-top: -8px;
  margin-bottom: -18px;
  opacity: 1;
}

div.logo {
  -webkit-mask-image: url(../skyline.png);
  -webkit-mask-size: cover;
  -webkit-mask-position: 0 38px;
  -webkit-mask-repeat: no-repeat;
  -webkit-transition: -webkit-mask-position 1000ms, opacity 1000ms;
}

div.logo + span {
  padding-left: 183px;
  display: block;
}

.onload div.logo {
  -webkit-mask-position: 0 0px;
  opacity: 1;
}

div.logo .logo-text {
  font-size: 26px;
  display: block;
  margin-top: 20px;
  width: 176px;
  text-align: center;
  line-height: 30px;
  font-weight: 200;
}

h1 {
/*-webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
-webkit-transition: opacity 1s, background-color 200ms;
  -moz-transition: opacity 1s, background-color 200ms;
*/
}

h2 {
  font-weight: 100;
  letter-spacing: 1px;
}

h1:hover {
  background: #2A5E8C;
}

h1 a {
  color: inherit;
  font-weight: inherit;
}

h1 a:hover {
  text-decoration: none;
}

.onload h1 {
  opacity: 1;
}

h2 {
  margin-top: 80px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
}

h3 {
  /*margin-top: 50px;*/
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
}

#tag {
  height: auto;
  border-top: 2px solid black;
  margin-top: -22px;
  padding-left: 200px;
  font-size: 19px;
  margin-bottom: 20px;
  -webkit-transition: margin-top 200ms, margin-bottom 200ms, padding-left 1s;
  -moz-transition: margin-top 200ms, margin-bottom 200ms, padding-left 1s;
  padding-top: 0px;
  text-transform: capitalize;
}

#tag li {
  /*margin-top: -30px;*/
  display: block;
  float: left;
  height: auto;
  -webkit-transition: margin-top 1s, margin-left 1s, background-color 200ms, padding-bottom 200ms;
  -moz-transition: margin-top 1s, margin-left 1s, background-color 200ms, padding-bottom 200ms;
  transition: margin-top 1s, margin-left 1s, background-color 200ms, padding-bottom 200ms;
  list-style: none;
  padding-bottom: 2px;
}

#tag a {
  margin: 0 10px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1px;
  /*color: #428bca;*/
}

.onload #tag li {
  /*margin-top: 0px;*/
}

#tag .active {
  /*text-decoration: underline;*/
  /*background: #2A5E8C;*/
  /*border: 2px solid;*/
  /*border-top: none;*/
}

#tag a.active {
  text-decoration: underline;
  /*color: white;*/
}

#tag li:hover {
  /*background: #7595BF;*/
  /*padding-bottom: 5px;*/
}

#tag li:hover a {
  /*color: white;*/
  /*text-decoration: none;*/
}

a:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  z-index: 1;
  opacity: 0.7;
}

.CodeMirror-lint-tooltip {
  z-index: 2000 !important;
}

#visualizer {
  min-height: calc(100% - 113px);
  margin: -50px auto -62px;
}

#visualizer > .container {
/*  height: 100%;
  box-shadow: 0px 0 15px -5px;*/
/*  background: white;*/
  position: relative;
  margin-top: 60px;
}

#visualizer > .container .row {
/*  display: table-row;*/
}

#visualizer > .container div[class^="col-"] {
/*  margin-left: 0;
  margin-right: 0;
  height: 300px;
  margin: 0 -8px;
  padding: 0 8px;*/
    /*display: table-row;*/

}

#visualizer > .container div[class^="col-"] .area_frame {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #888;
  padding: 8px;
  overflow: auto;
  margin-bottom: 15px;
}

#visualizer > .container div[class^="col-"] .area_frame h3 {
  margin-top: 4px;
}

#visualizer > .container div[class^="col-"] .area_frame.no_padding {
  padding: 0;
}

.item-list {
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.item-list .list-group {
  margin: 0;
}

.item-list .list-group-item {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  text-shadow: 0px 1px #fff;
}

.item-list .list-group-item:first-child {
  border-top: none
}

.item-list .list-group-item:last-child {
  border-bottom: none
}

.item-list .list-group-item:hover {
  background-color: #ddd;
}

div.storedProcedureList .item-list {
  max-height: 392px;
}

div.stencils .item-list {
  max-height: 440px;
}

.row.equal-500.mask {
  overflow: hidden;
  height: 504px;
  margin-bottom: 11px;
}

.row.equal-500 .area_frame {
  height: 500px;
}

.white-header {
  width: 400px;
  height: 40px;
  top: 14px;
  background: white;
  position: absolute;
  left: 200px;
  right: 0;
}

/******  alerts on top of page  *********/

.alerts {
  position: fixed;
  z-index: 1000;
  left: 50%;
  width: 450px;
  margin-left: -225px;
}

.alert {
  position: relative;
  padding: 8px 10px;
  margin: 7px 4px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: alert 0.5s ease forwards;
   -moz-animation: alert 0.5s ease forwards;
    -ms-animation: alert 0.5s ease forwards;
     -o-animation: alert 0.5s ease forwards;
        animation: alert 0.5s ease forwards;
}

.alert .progress {
  margin-bottom: 0;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes alert {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

