.graph {
	height: 100%;
	overflow: hidden;
}

#graph {
	height: calc(100% - 50px);
	width: calc(100% - 100px);
	float: left;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#graph-container .row {
	margin-left: 0px;
}

.graphTypeButton {
	margin: 2px 0;
}

#graphTitle {
	border: 1px solid transparent;
	margin-left: -24px;
	margin-top: 0px;
	padding-left: 30px;
}

/*AXIS*/

.xSettings {
	float: left;
	height: 32px;
	width: 100%;
}

.ySettings, .oppositeYSettings {
	float: left;
	height: calc(100% - 50px);
	width: 50px;
	padding: 0;
}

.xSettings .popoverToggle {
	display: none !important;
}

.xSettings .control-group, .graph > .control-group {
	width: 31%;
	float: left;
	padding: 1%;
}


.axisDroppableContainer.xSettings .btn.disabled {
	width: 200px;
	position: relative;
}

.axisDroppableContainer.ySettings .btn.disabled,
.axisDroppableContainer.oppositeYSettings .btn.disabled {
	width: 200px;
	-webkit-transform: translate(-100px)rotate(-90deg)translate(-100px,10px);
}

.axisDroppableContainer.xSettings .drop-hint {
	color: #333;
	writing-mode: tb-rl;
	-webkit-transform: translate(-280px,-10px);
	-moz-transform: translate(-280px,-10px);
	-o-transform: translate(-280px,-10px);
	white-space: nowrap;
	display: inline-block;
	width: 180px;
	height: 1px;
	font-size: 24px;
	font-weight: 100;
	margin: 0;
	position: absolute;
	right: 0;
}

.axisDroppableContainer.ySettings .drop-hint,
.axisDroppableContainer.ySettings .list-group-item,
.axisDroppableContainer.xSettings .drop-hint,
.axisDroppableContainer.xSettings .list-group-item,
.axisDroppableContainer.oppositeYSettings .drop-hint,
.axisDroppableContainer.oppositeYSettings .list-group-item {
	color: #333;
	writing-mode: tb-rl;
	white-space: nowrap;
	display: inline-block;
	width: 180px;
	height: 1px;
	font-size: 24px;
	font-weight: 100;
	margin: 0;
	pointer-events: none;
	background: transparent;
}

.axisDroppableContainer.ySettings .drop-hint,
.axisDroppableContainer.ySettings .list-group-item,
.axisDroppableContainer.oppositeYSettings .drop-hint,
.axisDroppableContainer.oppositeYSettings .list-group-item {
	-webkit-transform: rotate(90deg)translate(150px,46px);
	-moz-transform: rotate(90deg)translate(150px,46px);
	-o-transform: rotate(90deg)translate(150px,46px);
}

.axisDroppableContainer.xSettings .drop-hint,
.axisDroppableContainer.xSettings .list-group-item {
	-webkit-transform: translate(-250px, 0px);
	-moz-transform: translate(-250px, 0px);
	-o-transform: translate(-250px, 0px);
	text-align: right;
}

.axisDroppableContainer .drop-hint.zone {
	display: none;
	border: 1px solid transparent;
}

.axisDroppableContainer .drop-hint.zone.over {
	border: 1px solid #010626;
}

.axisDroppableContainer.ySettings .list-group-item,
.axisDroppableContainer.xSettings .list-group-item,
.axisDroppableContainer.oppositeYSettings .list-group-item {
	border-radius: 0;
	border: none;
	pointer-events: all;
}

.axisDroppableContainer.xSettings .list-group-item {
	float: right;
	margin-top: -10px;
	background: transparent;
}

.axisDroppableContainer.ySettings a.list-group-item:hover,
.axisDroppableContainer.xSettings a.list-group-item:hover,
.axisDroppableContainer.oppositeYSettings a.list-group-item:hover {
	 background: none;
}

.axisDroppableContainer.ySettings .list-group-item .close,
.axisDroppableContainer.oppositeYSettings .list-group-item .close {
	width: 26px;
	height: 26px;
	position: absolute;
	left: -30px;
	bottom: -33px;
	border: 1px solid #eee;
	display: block;
	border-radius: 0;
	opacity: 0.7;
	background: url(../img/glyphicons-halflings.png) no-repeat scroll -451px 5px white;
	-webkit-transform: rotate(-90deg);
}

.axisDroppableContainer.ySettings .list-group-item .btn.popoverToggle,
.axisDroppableContainer.oppositeYSettings .list-group-item .btn.popoverToggle {
	position: absolute;
	left: -58px;
	bottom: -32px;
	width: 26px;
	height: 24px;
	background: url(../img/glyphicons-halflings.png) no-repeat scroll -403px -140px white;
	-webkit-transform: rotate(-90deg);
	border: 1px solid #eee;
	border-radius: 0;
	opacity: 0.7;
}


.axisDroppableContainer.oppositeYSettings .list-group-item .btn.popoverToggle {
	bottom: -11px;
}

.axisDroppableContainer.oppositeYSettings .list-group-item .close {
	bottom: -12px;
}

.axisDroppableContainer.ySettings .list-group-item .btn.popoverToggle:hover,
.axisDroppableContainer.oppositeYSettings .list-group-item .btn.popoverToggle:hover,
.axisDroppableContainer.ySettings .list-group-item .close:hover,
.axisDroppableContainer.oppositeYSettings .list-group-item .close:hover {
	opacity: 1;
}

.axisDroppableContainer.xSettings .list-group-item .btn.popoverToggle {
	position: absolute;
	left: -23px;
	bottom: -16px;
	width: 12px;
	height: 12px;
}

/*AXIS SETTINGS BADGE*/

.axisSettings .popoverToggle {
	display: inline-block !important;
	margin: 0;
}

.xSettings .axisSettings {
	display: inline-block;
	position: absolute;
	right: 0;
	margin-top: 3px;
}

div.axisTypeSelect.btn-group button.btn {
	width: 26px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 0;
	margin-top: 5px;
	border: 1px solid #eee;
	height: 26px;
	padding: 0;
	background: url(../img/glyphicons-halflings.png) no-repeat scroll -355px -139px white;
	opacity: .7;
	border: 0;
	text-decoration: none;
}

div.axisTypeSelect.btn-group button.btn:hover {
	opacity: 1;
}

div.bootstrap-select.pull-right button.dropdown-toggle {
	float: right !important;
}

div.axisTypeSelect.btn-group button.btn .filter-option,
div.axisTypeSelect.btn-group button.btn .caret {
	display: none;
}

.btn-debug {
	clear : both;
	display: block;
	position: absolute;
	bottom: 0;
}

.btn-debug div {
	right: 0;
	position: absolute;
	bottom: -2px;
	border: 1px solid #eee;
	padding: 0 5px;
	background: white;
	opacity: 0.7;
	cursor: pointer;
	height: 26px;
	line-height: 26px;
}

.btn-debug div:hover {
	opacity: 1;
}