[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

div.stencils .list-group-item {
	cursor: move;
	opacity: 1;
}

text.emptytext {
    display: none;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    pointer-events: none;
}

text.emptytext.visible {
    display: block;
}

rect.selection {
    stroke          : gray;
    stroke-dasharray: 2px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.node circle {
    stroke  : gray;
}

g.node circle.inner {
    fill        : white;
    transition  : fill 0.5s;
    cursor      : move;
}

g.node circle.inner.hover,
g.node circle.outer.hover {
    fill : aliceblue;
}

g.node circle.outer.hover {
    stroke-width    : 1px;
}

g.node circle.outer {
    stroke-width    : 0px;
    stroke-dasharray: 2px;
    stroke-color    : gray;
    fill            : transparent;
    transition      : all 0.5s;
    cursor          : pointer;
}

g.node.selected circle.outer {
    stroke-width    : 1px;
}

g.node text {
    font                : 12px sans-serif;
    font-weight         : bold;
    pointer-events      : none;
}

g.node g.performance_info text {
    fill: #2a5e8c;
    fill-opacity: 0.6;
    font-style: italic;
}

g.node g.performance_info.hide {
    display: none !important;
}


g.edge path,
path.dragline {
    fill        : none;
    stroke      : gray;
    stroke-width: 1px;
}

g.edge path.foreground {
    /*marker-end  : url(#end-arrow);*/
    /*marker-start  : url(#start-arrow);*/
}

g.edge.hover path.background {
    stroke-dasharray: none;
    stroke : aliceblue;
    stroke-opacity  : 1.0;
    transition : all 0.5s;
}

g.edge path.background {
    stroke-dasharray: none;
    stroke-width: 8px;
    stroke : transparent;
}

g.edge.selected path.foreground {
    stroke-dasharray: 2px;
    stroke-color    : gray;
}


g.edge path {
    cursor : default;
}

.end-arrow, .start-arrow {
    fill            : gray;
    stroke-width    : 1px;
}

g.edge circle.endpoint {
    display         : none;
    fill            : none;
    cursor          : pointer;
    stroke          : gray;
    stroke-dasharray: 2px;
}

g.edge circle.point {
    display         : none;
    fill            : aliceblue;
    cursor          : move;
    stroke          : gray;
}

g.edge.selected circle.endpoint,
g.edge.selected circle.point {
    display        : inline;
    transition : all 0.5s;
}

g.edge:not( .selected).hover *,
path.dragline {
    display         : inline;
}


g.edge:not( .selected).hover {
    transition      : all 0.5s;
}

path.dragline {
    pointer-events: none;
    stroke-opacity  : 0.5;
    stroke-dasharray: 2px;
}

path.dragline.hidden {
    stroke-width: 0;
}

    /* disable text selection */
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}

.json-container {
    height: 400px;
    display: none;
    padding: 0;
}

.json-container .CodeMirror {
    height: 100%;
}


.canvas-controls {
    position: absolute;
    bottom: 24px;
    right: 23px;
    z-index: 2000;
}

.canvas-controls.canvas-controls-up {
    bottom: initial;
    top: 4px;
    right: 8px;
}

.canvas-controls .btn-group{
    padding: 0px 8px;
}

.attributes {
    padding: 8px;
}

.attributes .form fieldset {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
    background: #fafafa;
    font-weight: 100;
}

/*.attributes .form fieldset .plain-value {
    font-weight: normal;
    text-align: right;
    width: auto;
    float: right;
}
*/

.attributes .form .valuelist {
    list-style: none;
    padding-left: 0;
}

.attributes .form .valuelist .del {
    cursor: pointer;
    float: right;
}

.attributes .form .form-complex {
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.attributes .form .form-complex:hover {
    box-shadow: 0 0 5px 0px #ccc inset;
}

.execution-preview {
    margin-left: 10px;
    display: block;
    float: left;
    height: 34px;
    position: relative;
}

.execution-preview .axis path,
.execution-preview .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.execution-preview .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.execution-preview .text-overlay {
    display: block;
    text-align: center;
    font-weight: 100;
    font-style: normal;
    position: absolute;
    top: 0;
    width: 100%;
    background: #860106;
    color: #f2f2f2;
    padding: 5px 10px;
    border: 1px solid transparent;
}

div.sidebar {
    overflow: hidden;
}

div.sidebar > div:first-child {
    float: right;
    height: 100%;
    background-color: #f7f7f7;
    border-left: 1px solid #ccc;
    width: 175px;
    margin: -1px;
    transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out;
    -webkit-transition: width 0.25s ease-out;
}

div.sidebar > div:nth-child(2) {
    margin-right: 175px;
    transition: margin-right 0.25s ease-out;
    -moz-transition: margin-right 0.25s ease-out;
    -webkit-transition: margin-right 0.25s ease-out;
}

div.sidebar.hideSidebar > div:first-child {
    width: 0px;
}

div.sidebar.hideSidebar > div:nth-child(2) {
    margin-right: 0px;
}

