span.interactiveQuery {
    cursor: pointer;
    color: #fff;
    background-color: #2a5e8c;
    border-color: #245178;
    padding: 2px 4px 2px 3px;
    border-radius: 4px;
}

span.interactiveQuery:hover {
    color: #fff;
    background-color: #21496d;
    border-color: #163149;
}

div.titlebar {
	width: 100%;
	background-color: #f7f7f7;
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #ddd;
	margin-bottom: -41px;
}

div.titlebar button.btn {
	text-decoration: none;
	outline: 0 !important;
}

div.titlebar .pull-right {
	padding-top: 9px;
	padding-bottom: 3px;
}

div#frame_queryEditor {
	z-index: 3000;
}

div#frame_queryEditor {
	margin-top: -515px;
	transition: margin-top 0.3s ease-in-out;
	-moz-transition: margin-top 0.3s ease-in-out;
	-webkit-transition: margin-top 0.3s ease-in-out;
}

div#frame_queryEditor.hideQueryEditor {
	margin-top: 0px;
}

div.performance-time {
	text-align: right;
	padding-right: 8px;
	background-image: -webkit-gradient( linear, left center, right center, from(rgba(0,0,0,0)), to(rgba(42,94,140,1)));
	color: white;
	text-shadow: 0px 1px black;
}

div.performance-time.invalid {
	background-image: -webkit-gradient( linear, left center, right center, from(rgba(0,0,0,0)), to(rgba(180,180,180,0.7)));
	color: #777;
	text-shadow: 0px 1px #ddd;
}

.CodeMirror-linewidget {
	top: -20px;
	margin-bottom: -20px;
}