.tables, .stencils {
  height: calc(100% - 40px);
  position: relative;
  box-shadow: 5px 0 20px -15px;
  overflow: auto;
  height: 460px;
}

.tables .subHeading {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  color: #999999;
}
.actionSelect,
.removeColumn,
.popoverToggle {
  display: none;
}
.tables .btn.disabled {
  cursor: pointer;
}

.tables .removeColumn {
  display: none;
}

.tables #show-form-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-weight: 100;
  font-size: 24px;
}

.list .list-group-item {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
}

.list .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list .panel-heading {
  padding: 0;
}

.list .panel-title {
  display: block;
  text-align: center;
  font-style: normal;
  background: #010626;
  color: #F2F2F2;
  padding: 10px 0px;
}

.list .panel-title a {
  font-weight: 100;
}

.list div.panel, .list div.panel div {
  border-radius: 0;
  border: 0;
}