h4 {
	font-weight: bold;
}

h5 {
	font-weight: bold;
	text-align: center;
}

.panel-title h4{
	font-size: 18px;
}

.ManageNodesTable{
	width: 100%;
}
.ManageNodesTable div{
	text-align: center;
	margin-top: 10px;
}

.ManageNodesTable .ManageNodesButtons{
	margin-top: 15px;
	text-align: left;
}
.ManageButtonContainer{
	margin: 50px 0px 0px 0px;
}

#clusterManagementScreen .panel-heading{
}

.NodeStatsBody{
	display: flex;
	flex-wrap: wrap;
}

.NodePanel{
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 10px 10px;
	flex: 1 0 auto;

}
.NodePanelTitle{
	text-align: left;
}
.NodePanelBody{
	display: flex;
}