h4 {
	font-weight: bold;
}

h5 {
	font-weight: bold;
	text-align: center;
}

.panel-title h4{
	font-size: 18px;
}

.ManageNodesTable{
	width: 100%;
}
.ManageNodesTable div{
	text-align: center;
	margin-top: 10px;
}

.ManageNodesTable .ManageNodesButtons{
	margin-top: 15px;
	text-align: left;
}
.ManageButtonContainer{
	margin: 50px 0px 0px 0px;
}

#clusterManagementScreen .panel-heading{
}

.NodeStatsBody{
	display: flex;
	flex-wrap: wrap;
}

.NodePanel{
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 10px 10px;
	flex: 1 0 auto;

}
.NodePanelTitle{
	text-align: left;
}
.NodePanelBody{
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.ProgressCPU{
	flex: 1 0 auto;
	height: 10px;
	margin-bottom: 1px;
}
.ProgressDIV{
	flex: 1 0 auto;
	height: 10px;
}

.TextDiv{
	margin-top: 10px;
}

.TextSpan{
	float: right;

}

.progressbar {
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.1);
}

.membar {
	fill: steelblue;
}

.cpubar {
	fill: magenta;
}

.netrbar {
	fill: darkcyan;
}

.netwbar {
	fill: darkorange;
}