<div class="axisSettings" id="<%= axis %>">
	<div class="control-group">
		<label class="control-label" for="axisDroppableContainer">Drop an attribute here:</label>
		<div class="axisDroppableContainer <%= axis %>"></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="axisTitle">Axis Title:</label>
		<input type="text" class="axisTitle" placeholder="Axis Title"/>
	</div>
	<div class="control-group">
		<label class="control-label" for="axisTypeSelect">Axis Type:</label>
		<select class="axisTypeSelect">
			<option value="linear">Linear</option>
			<option value="logarithmic">Logarithmic</option>
			<option value="datetime">Datetime</option>
			<option value="categories">Categories</option>
		</select>
	</div>
</div>