<div id="graphOptions">
	
	<div class="control-group">
		<label class="control-label" for="filterDroppableContainer">Drop an attribute to use as global filter:</label>
		<div id="filterContainer" class="filterDroppableContainer"></div>
	</div>

	<div class="control-group">
		<label class="control-label" for="graphTypeButton"> Graph Type: </label>
		<button type="button" class="btn graphTypeButton" data-type="line">Line</button>
		<button type="button" class="btn graphTypeButton" data-type="bar">Bar</button>
		<button type="button" class="btn graphTypeButton" data-type="spline">Spline</button>
		<button type="button" class="btn graphTypeButton" data-type="area">Area</button>
		<button type="button" class="btn graphTypeButton" data-type="areaspline">AreaSpline</button>
		<button type="button" class="btn graphTypeButton" data-type="scatter">Scatter</button>
		<button type="button" class="btn graphTypeButton" data-type="pie">Pie</button>
	</div>

	<div class="control-group">
		<label class="control-label" for="graphTitle">Graph Title:</label>
		<input type="text" id="graphTitle" class="graphTitle" placeholder="Graph Title"/>
	</div>
</div>