// Place all the styles related to the meta_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$borderColor: #ccc;
$borderWidth: 1px;

@import "bootstrap";

body, html {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;

	text-align: center;
}

#title {
	width: 100%;
	height: 39px;

	.btn {
		margin: 0px;
		margin-top: 5px;
	}
}
#attributes {
	float: left;
	width: calc(15% - 1px);
	height: calc(100% - 40px);
	position: relative;
	border-right: $borderWidth solid $borderColor;

	.subHeading {
		margin-top: 10px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		line-height: 20px;
		color: #999999;
	}
	.actionSelect, .removeColumn, .popoverToggle {
		display: none;
	}
	.btn.disabled {
		cursor: pointer;
	}	
}

.axisDroppableContainer, .filterDroppableContainer {
	height: 100%;
	min-height: 35px;
	width: 100%;

	background-color: rgba(81, 81, 81, 0.3);
	border-radius:5px;
	border: solid $borderColor;
	border-style:none;
	border-width: 2px;

	margin-bottom: 20px;
}
.filterDroppableContainer {
	.aggregationControls, .typeControls {
		display: none;
	}
}

#attributes, .axisDroppableContainer, .filterDroppableContainer {
	.btn.disabled {
		width: 80%;
		margin: 3px;
		opacity: 1;
	}	
}

#dataTableContainer{
	width:100%;
	float:left;
	border-top: $borderWidth solid $borderColor;
}

.hoverDroppable{
	background-color: rgba(0, 187, 255, 0.25);
	border-style:dashed;
}

#graphOptions {
	float: left;
	width: 85%;
	min-height: 100px;
	border-bottom: $borderWidth solid $borderColor;
}
.graphTypeButton {
	margin: 2px 0;
}
.graphTitle {
	width: 100%;
}
#graph {
	float: left;
	width: 55% !important; 
}
#ySettings, #oppositeYSettings {
	float: left;
	width: calc(15% - 1px);
	min-height: 500px;
	border-right: $borderWidth solid $borderColor;
}
#oppositeYSettings {
	float: right;
	border-right: none;
	border-left: $borderWidth solid $borderColor;
}
#xSettings {
	float: left;
	width: 55%;
	min-height: 100px;
	border-top: $borderWidth solid $borderColor;

	.popoverToggle {
		display: none;
	}
}
#xSettings .control-group, #graphOptions > .control-group {
	width: 31%;
	float: left;
	padding: 1%;
}

.removeColumn {
	float: left;
}

.popoverToggle {
	float: right;
	padding: 2px 4px;
}
#oAxis .popoverToggle {
	float: left;
}
.popoverContent {
	display: none;
}
.form-horizontal {
	clear: both;
	padding: 10px;
	margin: 0px;

	select {
		width: 150px;
	}
	.controls {
		margin-left: 90px !important;
	}
	.control-label {
		width: 80px;
	}
	.control-group:last-of-type {
		margin-bottom: 0px;
	}
}
.popover {
	background-color: black;
	border-radius: 5px;
	padding: 2px;
	cursor: default;

	.nav-header {
		display: block;
		padding: 3px 15px;
		font-size: 11px;
		font-weight: bold;
		line-height: 18px;
		color: #999999;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}
	button {
		min-width: 100px;

		span {
			float: right;
		}
	}
}
.popover.right .arrow {
	left: -5px;
}
.popover.left .arrow {
	right: -5px;
}

.axis {
	padding: 0px;
}

.axisSettings {
	margin: 10px;
	text-align: left;

	input, select {
		width: 90%;
	}
}

.valueRangeSlider {
	margin: 3px 12px;
	width: 80px;
}
.rangeSliderControls {
	padding-top: 5px;
}